<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
</head>
<body>
{% with messages = get_flashed_messages(with_categories=true) %}
    <div class="mv-flash-messages">
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    </div>
{% endwith %}
<main>
    <h2>Notes</h2>
    <form action="/notes/create" method="post" class="mv-notes-create-form">
        <textarea name="body" class="mv-notes-data-body"></textarea>
        <br>
        <button type="submit" class="mv-notes-create-submit">Create</button>
    </form>
    <div class="mv-notes-list">
        {% if notes %}
            {% for note in notes %}
                {% include "note.html" %}
            {% endfor %}
        {% else %}
            <p>No notes.</p>
        {% endif %}
    </div>
</main>
<script src="{{ url_for('static', filename='jquery.js') }}"></script>

<script>

  function hookNotesEvents() {
    $('.mv-notes-delete').each(function () {
      $(this).on('click', function (e) {
        $.ajax({
          type: 'post',
          url: $('.mv-notes-delete').attr('href'),
          contentType: "application/json",
          success: function (response) {
            $('.mv-notes-list').append(response._html);
          },
          error: function (xhr) {
            var errorMessage = xhr.responseJSON.Error;
            $('.mv-flash-messages').append('<div class="flash">' + errorMessage + '</div>')
          }
        });
        return false;
      })
    })
  }

  hookNotesEvents();

  $('.mv-notes-create-submit').on('click', function (e) {
    e.preventDefault();
    $.ajax({
      type: 'post',
      url: $('.mv-notes-create-form').attr('action'),
      data: JSON.stringify({
        'body': $('.mv-notes-data-body').val()
      }),
      contentType: "application/json",
      success: function (response) {
        $('.mv-notes-list').append(response._html);
      },
      error: function (xhr) {
        var errorMessage = xhr.responseJSON.Error;
        $('.mv-flash-messages').append('<div class="flash">' + errorMessage + '</div>')
      }
    })
  });
</script>
</body>
</html>
