<div class="mv-notes-element" style="border: 1px solid grey;">
    <span class="mv-notes-data-id" hidden>{{ note.id }}</span>
    <div>
        <p class="mv-notes-data-body">{{ note.body }}</p>
        <button class="mv-notes-edit-body" hidden>edit body</button>
    </div>
    <a href="/notes/{{ note.id }}/edit" class="mv-notes-edit">edit</a> |
    <a href="/notes/{{ note.id }}/delete" class="mv-notes-delete">delete</a>
</div>